

.main-container {
    flex: 1;

    .content-cnt {
        display: flex;

        .table-of-contents {
            width: 220px;
            display: flex;
        }

        .endpoints-cnt {
            flex: 1;
        }
    }
}