@import "utils/commonStyles/flex.scss";

.main-container {
  font-size: 12px;
  padding-top: 20px;

  .main-header {
    font-size: 14px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sub-header {
    border-top: 1px solid lightgrey;
    padding-top: 5px;
    margin-top: 5px;
    font-size: 14px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .addFolderIcon {
    cursor: pointer;
    width: 23px;
    height: 23px;
  }

  .api-folders {
  }

  .folder-wrapper {
  }

  .subfolder-wrapper {
    padding-left: 20px;
  }
}
