@import '../../utils/commonStyles/flex.scss';
@import '../../utils/commonStyles/index.scss';

.main-container {
    padding: 20px;
    font-size: 0.9em;

    &>* { // All immediate children irrespective of element
        margin-bottom: 10px;
    }

    &>*:last-child { // Last immediate child irrespective of element
        margin-bottom: 0;
    }

    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid lightgrey;
        padding-bottom: 5px;

        .main-header--left {
            display: flex;
            align-items: center;
            
            .title {
                font-size: 1.3em;
            }   
            .updatedAt {
                padding-left: 15px;
                font-size: 12px;
                color: darkgrey;
            }
        }
        .action-btns{
            &>*:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    .method-path {        
        .method {
            text-transform: uppercase;
            margin-right: 10px;
            font-weight: bold;
            color: darkolivegreen;
        }

        .path {

        }
    }

    .description {
        color: #585858;
        margin-bottom: 40px;
    }

    .parameters {
        margin-bottom: 20px;

        .parameters__title {
            padding-bottom: 10px;
        }
    }

    .request-headers {
        margin-bottom: 20px;

        .request-headers__title {   
            padding-bottom: 10px;
        }
    }

    .request-response-bodies {
        @include flex-row-sb;
        margin-bottom: 20px;

        .request-body {
            flex: 1;
            margin-right: 60px;
            @include flex-col;
            
            .request-body__title{
                padding-bottom: 10px;    
            }
    
            .request-body__json {
                flex: 1;
                background: #2B2F3E;
                color: white;
                padding: 5px 10px;
                border-radius: 3px;
            }
        }
    
        .response-body {
            flex: 1;
            @include flex-col;

            .response-body__title{
                padding-bottom: 10px;    
            }
    
            .response-body__json {
                flex: 1;
                background: #2B2F3E;
                color: white;
                padding: 5px 10px;
                border-radius: 3px;
            }
        }

        pre {
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
        }
    }

    .examples-cnt {
        .example-cnt {
            &:hover {
                cursor: pointer;
            }

            .example-row {
                border: 1px solid lightgrey;
                padding: 10px;
                border-radius: 5px;
                display: flex;
                align-items: center;

                span {
                    display: flex;
                    align-items: center;
                }
            }

            .example-request-response-bodies {
                @include flex-row-sb;
                margin: 20px;
        
                .example-request-body {
                    flex: 1;
                    margin-right: 60px;
                    @include flex-col;
                    position: relative;
                    
                    .example-request-body__title{
                        padding-bottom: 10px;    
                    }
            
                    .example-request-body__json {
                        flex: 1;
                        background: #2B2F3E;
                        color: white;
                        padding: 5px 10px;
                        border-radius: 3px;
                    }
                }
            
                .example-response-body {
                    flex: 1;
                    @include flex-col;
                    position: relative;
        
                    .example-response-body__title{
                        padding-bottom: 10px;    
                    }
            
                    .example-response-body__json {
                        flex: 1;
                        background: #2B2F3E;
                        color: white;
                        padding: 5px 10px;
                        border-radius: 3px;
                    }
                }

                .view-more-btn {
                    font-size: 10px;
                    position: absolute;
                    bottom: 5px;
                    left: calc(50% - 55px);
                    color: white;
                    border-color: white;
                }
        
                pre {
                    white-space: pre-wrap;
                    white-space: -moz-pre-wrap;
                    white-space: -pre-wrap;
                    white-space: -o-pre-wrap;
                    word-wrap: break-word;
                }
            }
        }
    }
}