@import "utils/commonStyles/flex.scss";

.main-cnt {
  display: flex;
  flex-direction: column;

  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid lightgrey;
    padding: 0 10px;
    padding-bottom: 5px;

    .title {
    }

    .main-header--right {
    }
  }

  .readme-textarea {
    flex: 1;
    padding: 5px 10px;
    border-radius: 3px;
    outline: 1px solid lightgrey;
    overflow: overlay;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }
  }

  .readme-value {
    padding: 0 10px;
  }
}
