@import "utils/commonStyles/flex.scss";

.app-header {
  @include flex-row-b-sb-cen;
  background-color: rgba(76, 82, 100, 1);
  padding: 15px;
  color: white;
  height: 40px; // TODO: REMOVE LATER
  position: sticky;
  top: 0;
  z-index: 999;
  // box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.26);

  .app-header--left {
    @include flex-row-v-cen;
    cursor: pointer;

    img {
      width: 35px;
      height: 35px;
      margin-right: 5px;
    }

    .app-header__appName {
    }
  }

  .app-header--right {
    @include flex-row-v-cen;

    .app-header_menu-item {
      cursor: pointer;
      text-decoration: none;
      color: white;
      padding: 10px;
      border-radius: 4px;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &.active {
        background-color: rgb(95, 101, 121);
      }
    }

    .user-account-cnt {
      padding-left: 10px;

      .user-account-icon {
        width: 35px;
        height: 35px;
        cursor: pointer;
      }
    }

    .accountOptionsCnt {
      top: 72px;
      right: 5px;
      min-width: 115px;
      text-transform: capitalize;
      color: rgba(0, 0, 0, 0.7);
      border-radius: 2px;
    }

    .accountOption {
      padding: 10px 10px;
    }
  }
}
