@import "utils/commonStyles/flex.scss";

.app-header {
  @include flex-row-b-sb-cen;
  background-color: rgba(76, 82, 100, 1);
  padding: 10px;
  color: white;
  height: 40px; // TODO: REMOVE LATER
  position: sticky;
  top: 0;
  z-index: 999;

  .app-header--left {
    .app-header__appName {
    }
  }

  .app-header--mid {
    @include flex-row-v-cen;

    .app-header_menu-item {
      cursor: pointer;
      text-decoration: none;
      color: white;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:hover {
        text-decoration: underline;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }

  .app-header--right {
    @include flex-row-v-cen;

    .app-header__envs {
      @include flex-row-v-cen;
      margin-right: 20px;

      .app-header__envs-dropdown {
        margin-right: 10px;
      }

      .app-header__edit-env {
        @include flex-row-v-cen;

        .app-header__edit-env__icon {
          font-size: 2rem;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .logout-btn {
      cursor: pointer;
      font-size: 1.9em;
    }
  }
}
