@import "utils/commonStyles/flex.scss";

.app-header {
  @include flex-row-b-sb-cen;
  background-color: #4c5264;
  padding: 10px;
  color: white;
  height: 40px; // TODO: REMOVE LATER

  .app-header--left {
    .app-header__appName {
    }
  }

  .app-header--right {
    @include flex-row-v-cen;
    .app-header__envs-dropdown {
        margin-right: 10px;
    }
    .app-header__edit-env {
      .app-header__edit-env__icon {
        font-size: 2rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
