.main-cnt {
  .users-cnt {
    padding: 50px;

    .user-cnt {
      padding: 30px;
      border: 1px solid lightgrey;
      border-radius: 5px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
