.actions-cnt {
  position: absolute;
  z-index: 100;
  background: #ffffff;
  color: var(--primary-70);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  font-size: 0.8em;

  .actions-option-cnt {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    justify-content: center;

    &:first-child {
      padding-top: 8px;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }

    &:last-child {
      padding-bottom: 8px;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #eeeded;
    }

    &:hover {
      background-color: var(--primary-70);
      color: #ffffff;
    }
  }
}
